@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');



*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: #EADDFF;
}

.register{
    width: 500px;
    height: 500px;
    background-color: #4F378A;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 50px;
}

.sign-in{
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.submit-btn{
    font-family: poppins;
    background-color: #4F378A;
    color: #FFFFFF;
}   

.register form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register input{
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #ffffff;
    outline: none; 
}

.register button{
  background-color: #22222200;
  border:1px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;

}

button,button {
  opacity: .75;
}


.dont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Poppins';
    gap: 40px;
}

@media screen and (max-width: 768px) {
    .register{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    border-radius: 0px;
    margin: 0px;
    }
    .sele{
        width: 300px;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: none;
        border: 1px solid #ffffff;
        outline: none; 
    }
  }