@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0px;
    padding: 0px;
}

body{  
    background: #4F378A;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
}

/* .register{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
} */
 .register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
 }


.sign-in{
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
    /* -webkit-text-stroke: 1px #ffffff; */
    color: rgb(234, 221, 255);
}

.submit-btn{
    font-family: poppins;
    background-color: #4F378A;
    color: #FFFFFF;
}   

.register form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vw;
}

.register input{
    width: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: none;
    border: 1px solid #ffffff;
    outline: none; 
    font-family: "Raleway", sans-serif;
    font-weight: 500;

}
.register button{
    
    border:1px solid white;
    color: #FFFFFF;
    background-color: #4F378A;
    padding: 11px 30px;
    font-family: 'Poppins';
    transition: border-color ease-in-out .3s;

}

.register button:hover{
    border-color: #cc00ff;
}

button,button {
  opacity: .75;
}


.dont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Poppins';
    gap: 40px;
}

.d-white{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vw;
    background-color: rgb(253, 253, 253);
}

.vid{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .register{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    border-radius: 0px;
    margin: 0px;
    }
    .sele{
        width: 300px;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: none;
        border: 1px solid #ffffff;
        outline: none; 
    }
  }