
.ticket-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ticket-cont{
    display: flex;
    justify-content: center;
}

  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
background: #ffffff;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(228, 227, 230, 0.3);
  }
  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  textarea {
    height: 80px;
  }
  
  button {
    background: #4F378A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  