@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.students-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 50vh;
    align-items: center;
}

.students-info{
    width: 300px;
    height: 48.09px;
    background-color: #ffffff;
    font-size: 13px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins";
    font-weight: 500;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 10px;
    /* From https://css.glass */
background: rgba(228, 227, 230, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(228, 227, 230, 0.3);
}
.students-info p{
    margin: 0px;
}
.info-name{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 35px;
}
@media screen and (max-width: 768px) {

.students-container{
display: flex;
flex-direction: column;
gap: 10px;
}
.students-info{
    width: auto;
    height: 48.09px;
    background-color: #ffffff;
    font-size: 13px;
    display: flex;
    gap: 20px;
    /* border: 1px solid gray; */
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins";
    font-weight: 600;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 10px;
    padding: 10px;
}
.info-name{
    font-size: 15px;
}
}